# Comment (Enable/Disable) the proxy config in case of not being able to install outside packages
# @epo:registry=http://npms.internal.epo.org:9091/repository/npm-private 
# proxy=http://proxylb.internal.epo.org:8080/ 
# https-proxy=http://proxylb.internal.epo.org:8080/ 
# loglevel=notice